@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTLwebNC</title>
    <link type='image/x-icon' href='/images/logo_share_car.svg' rel='icon' />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/owl/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/BTLwebNC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/logo_share_car.svg" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (TempData["idLoginData"] == null)
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-end nav-right">
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Home" asp-action="usermanual">Hướng dẫn sử dụng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Home" asp-action="news">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="access" asp-action="login">đăng nhập</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-end nav-right">
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Home" asp-action="usermanual">Hướng dẫn sử dụng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Rent" asp-action="Rent">đăng ký thuê xe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Lease" asp-action="Lease">đăng ký cho thuê xe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Home" asp-action="news">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-capitalize" asp-area="" asp-controller="Home" asp-action="contact">liên hệ</a>
                            </li>
                            <li class="nav-item">
                                <span class="mb-0 nav-link text-dark"> <a class="text-dark text-decoration-none" asp-area="" asp-controller="User" asp-action="MyProfile">xin chào: @TempData["LoginData_name"]</a> <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Logout"><i class="fa-solid fa-right-to-bracket ms-2"></i></a></span>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="~/images/logo_share_car.svg" class="img-fluid" style="mix-blend-mode:multiply" alt=""></a>
                        <span>LTWEB_NC_G15</span>
                    </div>
                </div>
                <div class="col-md-4 my-auto">
                    <h6>Về chúng tôi</h6>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Địa chỉ: 96 Định Công, Hoàng Mai, Hà Nội</li>
                        <li>Điện thoại: 0982666666</li>
                        <li>Email: LTWEB_NC_G15@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none" href="#">Đăng ký thuê xe</a></li>
                        <li><a class="text-decoration-none" href="#">Đăng Ký Cho Thuê xe</a></li>
                        <li><a class="text-decoration-none" href="#">Tin tức</a></li>
                        <li><a class="text-decoration-none" href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="footer__widget">
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/owl/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
