@{
    ViewData["Title"] = "Trang cá nhân";
    <link href="~/css/user.css" rel="stylesheet" />
}
<div class="banner position-relative">
    <img src="~/images/banner/lien-he.png" alt="Alternate Text" class="img-fluid" />
    <div class="container">
        <p class="position-absolute name-banner mb-0">Trang Cá Nhân</p>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Trang Cá Nhân</li>
            </ol>
        </nav>
    </div>
</div>
<div class="containter">

</div>