@model TblUser;
@{
    ViewData["Title"] = "Login";
    <link href="~/css/login.css" rel="stylesheet" />
}
<div class="banner position-relative">
    <img src="~/images/banner/login.png" alt="Alternate Text" class="img-fluid" />
    <div class="container">
        <p class="position-absolute name-banner mb-0">Đăng nhập</p>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="grid-members">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <h2 class="pb-3 text-center title">ĐĂNG NHẬP</h2>
                <p class="summary text-center">Elementum donec vel enim interdum mauris sit blandit massa dignissim. Mauris in nibh cursus proin convallis metus urna cursus pharetra. Dolor proin faucibus rhoncus ac risus aliquam.</p>
                <div class ="grid-item">
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <p class="text-uppercase text-center text-black"> TÊN ĐĂNG NHẬP</p>
                            <input asp-for="Username" class="form-control" placeholder="Tên đăng nhập*" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <p class="text-uppercase text-center text-black"> Mật khẩu</p>
                            <input asp-for="Password" class="form-control" placeholder="Mật khẩu*" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3 text-center">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <p class="text-center">Bạn chưa có tài khoản? Vui lòng đăng ký, <a asp-action="Register">tại đây</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
