@model TblNews
@{
    ViewData["Title"] = "Tin tức";

    <link href="~/css/news.css" rel="stylesheet" />
}

<div class="banner position-relative">
    <img src="~/images/banner/tin-tuc.png" alt="Alternate Text" class="img-fluid" />
    <div class="container">
        <p class="position-absolute name-banner mb-0">Tin Tức 1</p>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin Tức</li>
            </ol>
        </nav>
    </div>
</div>