.banner .name-banner {
    top: 35%;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
}
.banner img {
    width: 100%;
}
.banner .breadcrumb {
    position: absolute;
    top: 49%;
    align-items: center;
}

    .banner .breadcrumb .breadcrumb-item a {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
    }

    .banner .breadcrumb .breadcrumb-item.active {
        color: #fe0002;
    }

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}
s